
__pycache__/              # Ignora le cartelle di cache di Python
*.pyc                     
*.pyo                     
*.pyd                     

*.env                     # Ignora i file di configurazione dell'ambiente 
*.venv/                   # Ignora la cartella dell'ambiente virtuale 

# Django
*.db                      # Ignora i file del database 
*.sqlite3                 # Ignora i file SQLite 
*.log                     # Ignora i file di log
local_settings.py          

# PyCharm
.idea/                    # Ignora la cartella di configurazione di PyCharm

*.bak                     # Ignora i file di backup
*.swp                     # Ignora i file swap
